DATABASE_URL="postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:5432/postgres"
JWT_SECRET="feri-super-secret-key-change-this-in-production-min32chars"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
ESEWA_MERCHANT_ID="EPAYTEST"
ESEWA_SECRET="8gBm/:&EnhH.1/q"
PORT=5000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"